body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.table-responsive {
    overflow-x: auto;
    
 }

#login {
    width: 40vw;
    display: none;
    margin: 0 auto;
    margin-top: 130px;
    padding:50px;
    background-color: #fff;
    color:black;
    border-radius: 40px;
    box-shadow: -1px 10px 17px -5px rgba(0,0,0,0.38);
-webkit-box-shadow: -1px 10px 17px -5px rgba(0,0,0,0.38);
-moz-box-shadow: -1px 10px 17px -5px rgba(0,0,0,0.38);
}
#login h2 {
    text-align: center;
}

#login img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#login button {
    background-color: #1515BB;
    display: block;
    margin: 0 auto;
    margin-top:40px;
    width: 40%;
    height: 50px;
}

#login button:hover {
    background-color: #14149F;
}
#tablaDatosads img{
    display: block;
    margin:auto;
}

.form-group  {
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    display: block;
    margin: 0 auto;
}
.form-group label {
    margin-top:10px;
    
}
.form-group input {
    margin-top:10px;
}

.logon09 {
    width: 200px;
    height: auto;
}

.cabecera {
    display: flex;
    flex-wrap: wrap;
    
}


.cabecera h2 {
    margin-top:30px;
    padding-left:50px;
    font-size: 1.5rem;
    font-weight: 300;
    width: 70%;
    
}


.cabecera2 h2 {
    margin-top:30px;
    padding-left:0;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;

   
    
}
.cabecera h2 span {
    font-weight: 700;
}

.cabecera2 h2 span {
    font-weight: 700;
    color: #1A1AEA;
}

#refrescar {
    border-radius: 10px;
    border: 1px solid #1A1AEA;
    color:#1A1AEA;
    padding: 0 10px;
    background-color: #fff;
    float: inline-end;
    right: 0;

}



#refrescar img {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    transition: background-color 0.3s ease;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 10px;
    
    
}


#refrescar:hover {
    transition: background-color 0.5s ease;
    background-color: #1A1AEA;
    color: #fff;
    

}

.btn-primary {

    background-color: #1A1AEA;
    color: #fff;
    padding:10px 60px;
    font-size: 1rem;
    display: block;
    margin: 0 auto;

}

.btn-primary:hover {

transition: background-color 0.5s ease;
background-color: #0505B5;
color: #fff;
}


.btn-salida img{
    width: 20px;
    height: auto;
    margin-left: 10px;

}

.btn-salida {
    background-color: #fff;
    -ms-flex-align: end;

}

.btn-salida:hover {
    color:#14149F;
}

#tablaDatos th {
    font-weight: 500;

}


#miFormulario {
    border:1px solid #E1E0E0;
    padding: 5%;
    margin:5% 0;
    border-radius: 10px;
    
}

@media (max-width: 1250px) {

}